.login-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 32.5vw;
  border-radius: 8px;
  box-shadow: 0px 0px 18px 8px rgb(10, 10, 10);
  background-color: rgb(25, 25, 25);
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.35s;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  85% {
    transform: scale(1.15);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.login-box hr {
  margin-top: -12px;
}

.login-box .form-control:focus {
  transform: scale(1.015);
}

.register {
  color: rgb(28, 157, 217);
  display: block;
  margin-top: 0.75rem;
  font-size: 1.1rem;
  width: fit-content;
  transition: all 0.25s ease-in-out;
}