.listing-slug {
  width: fit-content;
  text-align: left;
  position: relative;
  margin-left: 3rem;
  margin-right: auto;
  font-size: clamp(1.05rem, 1.15vw, 1.15rem);
}

.listing-slug hr {
  margin-top: -12px;
}

.listing-slug button {
  margin-top: 10px;
}

table {
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  table-layout: fixed;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2.5%;
}

th, tr {
  border-bottom: solid rgb(185, 185, 185) 1px;
  color: white;
  padding: 1.75rem 1.5rem 1.75rem 0.75rem;
}

th {
  background-color: rgba(55, 55, 55);
  font-size: 1.1rem;
}

td {
  padding: 1.75rem 1.5rem 1.75rem 0.75rem;
  overflow-wrap: break-word;
}

tr:nth-child(even) {
  background-color: rgba(75, 75, 75, 0.25);
}

.delete-button {
  border: none;
  color: red;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.25s ease-in-out;
}

.delete-button:hover {
  color: white;
}

.delete-button:focus {
  outline: none;
}

.box-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  border: solid red 1px;
}

.box1, .box2, .box3, .box4 {
  width: 220px;
  height: 120px;
  background-color: rgb(12, 170, 170);
  color: black;
}

.boxItem {
  list-style: none;
  width: 2rem;
  height: 2rem;
  background-color: white;
  text-align: center;
  margin: 1rem;
}