* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lime: rgb(82, 205, 0);
  --light-lime: rgb(102, 255, 0);
  --mango: rgb(255, 140, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  position: relative;
  min-height: 100vh;
  /*Use these setting for a proper footer*/
  padding-bottom: 80px;
  /* Height of footer */
  padding-top: 145px;
  background-color: rgb(25, 25, 25);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: rgb(235, 235, 235);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

p {
  font-size: clamp(1.05rem, 1.15vw, 1.15rem);
  line-height: 150%;
  letter-spacing: 0.05rem;
  margin-bottom: 1.1rem;
}

hr {
  border-top: solid rgb(175, 175, 175) 1px;
  border-collapse: collapse;
  margin-top: -5px;
  margin-bottom: 20px;
}

body::after {
  content: "";
  background-image: url(../src/images/computer-g2445e5a8f_1280.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.25;
  z-index: -1;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--lime);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.small-x-green {
  font-size: 0.65em;
  color: var(--lime);
}

.green {
  color: var(--lime);
}

form {
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
  transition: 0.25s ease-in-out;
  padding: 0.5rem;
}

label {
  display: block;
  width: fit-content;
  margin-bottom: 0.1rem;
}

input[type="text"],
[type="email"],
[type="name"],
[type="tel"],
[type="password"],
#messageEntry {
  font-size: clamp(0.9rem, 1vw, 1rem);
  width: 100%;
  margin-bottom: 1rem;
  height: 2.2rem;
  border: none;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
}

#messageEntry {
  height: 7rem;
  vertical-align: text-top;
}

input[type="submit"] {
  font-size: clamp(1rem, 1vw, 1.1rem);
  background-color: rgb(235, 235, 235);
  width: fit-content;
  padding: 6px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.35s;
}

input[type="submit"]:hover {
  background-color: #4b4b4b;
  color: white;
}

::placeholder {
  opacity: 1;
  transition: opacity .25s;
}

*:focus::placeholder {
  opacity: 0;
}